<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
  <variable name="logdir" value="${basedir}/Logs"/>
  <targets>
    <target name="Console" xsi:type="ColoredConsole" layout="${date:format=yyyy-MM-dd HH\:mm\:ss} [${level}] ${message}"/>

    <target name="Service" xsi:type="AsyncWrapper" >
      <target xsi:type="RetryingWrapper">
        <target xsi:type="File" fileName="${logdir}/Service/${shordate}.txt" layout="${date:format=HH\:mm\:ss} ${stracktrace} ${message}"/>
      </target>
    </target>

    <target name="Access" xsi:type="AsyncWrapper">
      <target xsi:type="RetryingWrapper">
        <target xsi:type="File" fileName="${logdir}/Access/${shortdate}.txt" layout="${date} ${message}"
                archiveFileName="${logdir}/Access/${shortdate}.{#####}.txt" archiveAboveSize="1024000" archiveNumbering="Rolling"/>
      </target>
    </target>

    <target name="Exception" xsi:type="AsyncWrapper">
      <target xsi:type="RetryingWrapper">
        <target xsi:type="File" fileName="${logdir}/Exception/${shortdate}.txt" layout="${date} ${message}"
                archiveFileName="${logdir}/Exception/${shortdate}.{#####}.txt" archiveAboveSize="1024000" archiveNumbering="Rolling"/>
      </target>
    </target>

  </targets>
  <rules>
    <logger name="Console" minlevel="Trace" writeTo="Console"/>
    <logger name="Access"  minlevel="Trace" writeTo="Access"/>
    <logger name="Service" minlevel="Trace" writeTo="Service" />
    <logger name="Exception"  minlevel="Trace" writeTo="Exception"/>
  </rules>
</nlog>
