<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
  <variable name="logdir" value="${basedir}/Logs"/>

  <targets>
    <target xsi:type="ColoredConsole" name="Console" layout="${date:format=HH\:mm\:ss ffff} [${level}] ${message}"/>
    <target name="Access" xsi:type="AsyncWrapper">
      <target xsi:type="RetryingWrapper">
        <target xsi:type="File" fileName="${logdir}/Access/${shortdate}.txt" layout="${date:format=HH\:mm\:ss ffff} ${message}"
                archiveFileName="${logdir}/Access/${shortdate}.{#####}.txt" archiveAboveSize="10485760" archiveNumbering="Rolling"/>
      </target>
    </target>
  </targets>

  <rules>
    <logger name="Access" minlevel="Trace" writeTo="Access"/>
    <logger name="Console" minlevel="Trace" writeTo="Console"/>
  </rules>
</nlog>
